.container {
	border: 1px solid #999;
	width: 100%;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

[class*='col-'] {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 10px;
	background-color: #eee;
	border: 1px solid #999;
	height: 50px;
	float: left;
	box-sizing: border-box;
}



@media (max-width: 768px) {
	.col-sm-1 {
		width: calc(8.3% - 20px);
	}
	.col-sm-2 {
		width: calc(16.6% - 20px);
	}
	.col-sm-3 {
		width: calc(24.9% - 20px);
	}
	.col-sm-4 {
		width: calc(33.3% - 20px);
	}
	.col-sm-5 {
		width: calc(41.5% - 20px);
	}
	.col-sm-6 {
		width: calc(49.8% - 20px);
	}
	.col-sm-7 {
		width: calc(58.1% - 20px);
	}
	.col-sm-8 {
		width: calc(66.4% - 20px);
	}
	.col-sm-9 {
		width: calc(74.7% - 20px);
	}
	.col-sm-10 {
		width: calc(83% - 20px);
	}
	.col-sm-11 {
		width: calc(91.3% - 20px);
	}
	.col-sm-12 {
		width: calc(100% - 20px);
	}
}
@media (min-width: 768px) {
	.col-lg-1 {
		width: calc(8.3% - 20px);
	}
	.col-lg-2 {
		width: calc(16.6% - 20px);
	}
	.col-lg-3 {
		width: calc(24.9% - 20px);
	}
	.col-lg-4 {
		width: calc(33.3% - 20px);
	}
	.col-lg-5 {
		width: calc(41.5% - 20px);
	}
	.col-lg-6 {
		width: calc(49.8% - 20px);
	}
	.col-lg-7 {
		width: calc(58.1% - 20px);
	}
	.col-lg-8 {
		width: calc(66.4% - 20px);
	}
	.col-lg-9 {
		width: calc(74.7% - 20px);
	}
	.col-lg-10 {
		width: calc(83% - 20px);
	}
	.col-lg-11 {
		width: calc(91.3% - 20px);
	}
	.col-lg-12 {
		width: calc(100% - 20px);
	}
}